html, body {
    margin: 0px;
    height: 100%;
    /*El html, el display y el flex-direction se pusieron para que no quede un borde encima del body (espacio vacio)*/
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("../images/Blue\ Gradient\ Header\ Banner.png");
    margin: 0px;
    padding: 0px;
}

#titulo, #metodologia_scrum {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
}

#inicio {
    color: white;
    text-decoration: none;
}

#inicio:hover {
    background: none;
}

#agile_imagen {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div {
    display: flex;
    flex-direction: row;
}

.images_titulos {
    color: blue;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.images_titulos:hover {
    background-color: lightblue;
    padding: 1%;
}

.img_fila {
    width: 100%;
    height: 300px;
}

figure {
    margin: 100px;
}

figcaption {
    width: 300px;
    margin-top: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
    color: white;
    background-image: url("../images/Blue\ Gradient\ Header\ Banner.png");
    margin-bottom: 0px;
}

#def_scrum {
    margin-bottom: 0px;
}

ul {
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.subir {
    text-decoration: none;
    background-image: url("../images/degradado.jpg");
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 90%;
    padding: 5px;
}

h3 {
    text-indent: 15px;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-image: url("../images/Blue\ and\ White\ Gradient\ Header\ Banner.png");
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
}

footer {
    margin-top: 10px;
    background-image: url("../images/Blue\ Gradient\ Header\ Banner.png");
}

.enlaces_redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    width: fit-content;
    margin: 1%;
}

.enlaces_redes:hover {
    background-color: rgb(35, 122, 151);
}

.img_redes {
    width: 50px;
    height: 50px;
}

